<div class="row">
    <form class="offset-md-7 col-xs-12 col-sm-12 col-md-4 login" (ngSubmit)="submit()">
        <div class="form-group form-group-with-icon">
            <i class="fa fa-user text-primary"></i>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group form-group-with-icon">
            <i class="fa fa-lock text-primary"></i>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" type="submit">Sign In</button>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <a [routerLink]="['/forgotpassword']" >Forgot your password?</a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <div class="col-sm-12">
                <h5 class="header-registration">Want to be a grosr vendor?</h5>
            </div>
            <div class="col-sm-12">
                <a [routerLink]="['/register']" class="btn btn-info">Join the club!</a>
            </div>
        </div>
    </form>
</div>